*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
    background-color: #DBA7EE;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.question-box{
    font-family: 'Comfortaa', cursive;
    width: auto;
    max-width: 80vw;
    background-color: #AEE4F5;
    border-radius: 10px;
    position: absolute;
    top: 80vh;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    text-align: center;
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    padding: 20px 20px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.question-box.on{
    width: auto;
    max-width: 85vw;
    top: 60px;
    cursor: default;
}

.container{
    position: absolute;
    width: 70vw;
    height: 70vh;
    margin: auto;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 0;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container.on{
    display: grid;
    grid-gap: 20px;
    top: 40%;
}

.answer-box1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #EE9090;
}
.answer-box2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color:#98E8CB;
}
.answer-box3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color:#DDF499;
}
.answer-box4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color:#EABA8E;
}
.box{
    display: flex;
    cursor: pointer;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 70px;
    font-weight: 1000;
    align-items: center;
    justify-content: center;
    padding-top: auto;
    border-radius: 5px;
}
.glass{
    position: absolute;
    width: 75vw;
    height: 75vh;
    margin: auto;
    top: 15%;
    left: 50%;
    padding: 0 10vw;
    padding-top: 25vh;
    transform: translate(-50%, -15%);
    background: radial-gradient(closest-side, rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0));
    backdrop-filter: blur(0.5rem);
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 2.5rem;
    text-align: center;
    cursor: default;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.glass.on{
    backdrop-filter: none;
    color: transparent;
    z-index: -100;
}